<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by
Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="yandy_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0120579612801377 0.00115524592716393 0.081606428993926"
        rpy="0 0 0" />
      <mass
        value="6.67931087390506" />
      <inertia
        ixx="0.015692111636683"
        ixy="2.89870234035569E-07"
        ixz="-1.13959116449691E-06"
        iyy="0.0242287755993516"
        iyz="9.97786206944061E-06"
        izz="0.0289136871803881" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="store_joint_1" type="fixed">
    <parent link="base_link" />
    <child link="store_frame_1" />
    <origin xyz="-0.25 0.25 0.40" rpy="-3.0 1.56 0" />
  </joint>
  <link name="store_frame_1">
    <mass value="0.001" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
  </link>

  <joint name="store_joint_2" type="fixed">
    <parent link="base_link" />
    <child link="store_frame_2" />
    <origin xyz="-0.25 -0.25 0.40" rpy="3.0 1.56 0" />
  </joint>
  <link name="store_frame_2">
    <mass value="0.001" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
  </link>

  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0.0073854 0.021171 0.09645"
        rpy="0 0 0" />
      <mass
        value="1.50797" />
      <inertia
        ixx="0.0014673"
        ixy="3.2317E-08"
        ixz="-1.8304E-09"
        iyy="0.0019316"
        iyz="-1.9157E-06"
        izz="0.00083549" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="-2.5649E-05 -1.7585E-05 0.1128"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.4"
      upper="2.4"
      effort="50"
      velocity="8" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.1009 0.014326 0.043109"
        rpy="0 0 0" />
      <mass
        value="2.5154" />
      <inertia
        ixx="0.0009125"
        ixy="-0.00049262"
        ixz="-6.9907E-09"
        iyy="0.0036301"
        iyz="-7.2727E-09"
        izz="0.0039706" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.54902 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 -0.0343 0.114"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="2.25"
      effort="50"
      velocity="8" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.021263 0.028869 0.037199"
        rpy="0 0 0" />
      <mass
        value="1.2116" />
      <inertia
        ixx="0.002018"
        ixy="-0.0010035"
        ixz="2.7017E-08"
        iyy="0.0018102"
        iyz="8.0736E-08"
        izz="0.003375" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.54902 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0.2462 0.043412 0.0723"
      rpy="3.1416 0 3.1416" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.2"
      effort="50"
      velocity="8" />
  </joint>
  <joint name="camera_joint" type="fixed">
    <parent link="link_3" />
    <child link="camera_optical_frame" />
    <!-- origin:
             rpy: 旋转使得 Z轴指向镜头前方, X轴指向图像右侧, Y轴指向图像下方
             对应 opencv 坐标轴
        -->
    <origin xyz="0.06 0.18 0.038" rpy="0 -1.5707 3.9269" />
  </joint>
  <link name="camera_optical_frame">
    <mass value="0.001" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
  </link>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-0.2 0.00140429517460233 0.00208208843286019"
        rpy="0 0 0" />
      <mass
        value="0.679732876616794" />
      <inertia
        ixx="0.000200643204541696"
        ixy="-5.15759904527282E-07"
        ixz="7.22790636562592E-08"
        iyy="0.000211581942695979"
        iyz="1.56323345737214E-06"
        izz="0.000283482633570141" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0.13717 0.15234 0.038"
      rpy="-1.5708 0 -0.73304" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="50"
      velocity="8" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="0.00671551505793594 7.79157302174538E-05 0.0199852126166533"
        rpy="0 0 0" />
      <mass
        value="0.563264780449047" />
      <inertia
        ixx="0.000193087643180492"
        ixy="3.89929720475858E-07"
        ixz="-2.97118086309545E-07"
        iyy="0.000183034056557076"
        iyz="1.73111549425671E-07"
        izz="0.000260313372233933" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.552941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0 0.021 0.068"
      rpy="1.5708 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="50"
      velocity="8" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="0.00134936362268262 -1.03398165501867E-07 0.1608306571357125"
        rpy="0 0 0" />
      <mass
        value="0.972418521071107" />
      <inertia
        ixx="0.000246941384951606"
        ixy="3.1494328637835E-06"
        ixz="1.0249267419736E-09"
        iyy="0.000106252478790717"
        iyz="-3.22115738138909E-10"
        izz="0.000291789363663892" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="revolute">
    <origin
      xyz="0.052 0 0.021"
      rpy="0 1.5708 0" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.14"
      upper="2.14"
      effort="50"
      velocity="8" />
  </joint>
  <link
    name="gimbal_link_1">
    <inertial>
      <origin
        xyz="-0.0043646 0.018922 0.17276"
        rpy="0 0 0" />
      <mass
        value="0.28493" />
      <inertia
        ixx="0.0013584"
        ixy="-1.869E-06"
        ixz="-1.0256E-07"
        iyy="0.0013558"
        iyz="-5.447E-08"
        izz="2.0063E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/gimbal_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/gimbal_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gimbal_joint_1"
    type="prismatic">
    <origin
      xyz="0.031 0.06 0.0298"
      rpy="0 0 0" />
    <parent
      link="link_1" />
    <child
      link="gimbal_link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.2"
      effort="50"
      velocity="8" />
  </joint>
  <link
    name="gimbal_link_2">
    <inertial>
      <origin
        xyz="0.00011928 -0.0058782 0.019225"
        rpy="0 0 0" />
      <mass
        value="0.015494" />
      <inertia
        ixx="1.8063E-06"
        ixy="1.5254E-08"
        ixz="-1.4743E-08"
        iyy="1.7062E-06"
        iyz="-5.2126E-08"
        izz="2.9984E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/gimbal_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89412 0.89412 0.89412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/gimbal_link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gimbal_joint_2"
    type="revolute">
    <origin
      xyz="0.01505 0.037 0.2921"
      rpy="0 0 0" />
    <parent
      link="gimbal_link_1" />
    <child
      link="gimbal_link_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.0"
      upper="2.0"
      effort="50"
      velocity="8" />
  </joint>
  <link
    name="gimbal_link_3">
    <inertial>
      <origin
        xyz="-0.017733 0.027819 -0.017718"
        rpy="0 0 0" />
      <mass
        value="0.065739" />
      <inertia
        ixx="1.6327E-05"
        ixy="-2.6032E-07"
        ixz="2.7099E-07"
        iyy="5.8487E-05"
        iyz="1.2429E-07"
        izz="4.9121E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/gimbal_link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.35686 0.27059 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/gimbal_link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gimbal_joint_3"
    type="revolute">
    <origin
      xyz="0.007 -0.023 0.0227"
      rpy="1.5708 0 0" />
    <parent
      link="gimbal_link_2" />
    <child
      link="gimbal_link_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.3"
      upper="0.5"
      effort="50"
      velocity="8" />
  </joint>
  <link name="gripper_tcp">
    <inertial>
      <mass value="0.001" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>
  <joint name="joint_tcp" type="fixed">
    <parent link="link_6" />
    <child link="gripper_tcp" />
    <origin xyz="0 0 0.12" rpy="0 0 0" />
    <!-- <limit
      lower="0"
      upper="0"
      effort="50"
      velocity="8" /> -->
  </joint>
</robot>